.git
.github
.gitignore

.env
.env.*
!.env.example

.venv
venv
env
__pycache__
*.pyc
*.pyo
*.pyd

.vscode
.idea
.DS_Store

*.pem
*.key
*.crt

*.sqlite3
*.db

*.joblib
*.keras
*.h5
*.pkl
*.pt
*.pth
*.onnx

mlruns
mlartifacts
qdrant_storage

media
staticfiles

notebooks
testing
tests

*.log
logs

PNEUMONIA_BACKUP
val_backup_original
__MACOSX__
.ipynb_checkpoints